*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1f2f;
    overflow: hidden;
}

.loader{
    position:relative;
    width:200px;
    height:200px;
    z-index: -1;
    animation: semicircle 4s ease-in-out infinite;
}

.loader::before{
    content: "";
    position: absolute;
    width:200px;
    height:100px;
    background: #06c8f0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    z-index:-1;
    bottom:0;

}

.container{
    position: relative;
    transform: translateY(-100px);
}

.container::before{
    content: "";
    position: absolute;
    width: 200px;
    height:200px;
    background: white;
    border-radius: 50%;
    top:200px;
    animation: animatecircle 4s ease-in-out infinite;
}

.container::after{
    content:"";
    position: absolute;
    width:800px;
    height:800px;
    background: #fe4e4e;
    border-radius: 50%;
    left:50%;
    transform: translateX(-50%);
    top:400px;
    animation: animatebigcircle 4s ease-in-out infinite s;
}

.ball{
    position: absolute;
    width:40px;
    height:40px;
    background: white;
    border-radius: 50%;
    top:50%;
    transform: translateY(-100%) translateX(-40px);
    animation: animateball 4s ease-in-out infinite;
}

@keyframes animateball {
    0% {transform: translateY(-100%) translateX(-40px);}
    50% {transform: translateY(-100%) translateX(200px);}
    100% {transform: translateY(-100%) translateX(-40px);}
}

@keyframes semicircle {
    0% { transform: rotate(50deg)}
    50% { transform: rotate(-50deg)}
    100% { transform: rotate(50deg)}
}

@keyframes animatecircle{
    0% {transform: translateX(15px)}
    50% {transform: translateX(-15px)}
    100% {transform: translateX(15px)}
}

@keyframes animatebigcircle {
    0% {transform: translateX(-50%) rotate(5px);}
    50% {transform: translateX(-50%) rotate(-5px);}
    100% {transform: translateX(-50%) rotate(5px);}
}
