*{
    margin:0;
    padding:0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.card{
    position: relative;
    width:350px;
    height: 85px;
    background-color: #192a56;
    border-radius: 35px;
    transition: 0.5s;
}

.toggle{
    position: absolute;
    width:70px;
    height:60px;
    background-color: #192a56;
    bottom: -60px;
    left:50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.toggle::before{
    content: "";
    position: absolute;
    width:35px;
    height:35px;
    background: transparent;
    left: -34px;
    box-shadow: 11px -10px 0 10px #192a56;
    border-top-right-radius: 35px;
}
.toggle::after{
    content: "";
    position: absolute;
    width:35px;
    height:35px;
    background: transparent;
    right: -34px;
    box-shadow: -11px -10px 0 10px #192a56;
    border-top-left-radius: 35px;
}

.toggle span{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    cursor: pointer;
    transition: 0.3s;
}

.card.active .toggle span{
    transform: translate(-50%, -50%) rotate(-225deg);
}


.card.active{
    height: 420px;
}


.content{
    position: absolute;
    inset:0;
    overflow: hidden;
}

.content .contentbox{

    position: relative;
    padding: 20px;
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content .contentbox h2{

    color:#fff;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.1em;
}

.content .contentbox h2 span{
    font-size: 0.75em;
    font-weight: 400;
    text-transform: capitalize;

}

.content .contentbox .imgbox{
    position: relative;
    width:250px;
    height:250px;
    background-color: transparent;
    margin-top: 20px;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.15);
    border: 5px solid #FFF;
}


.content .contentbox .imgbox img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}


button{ 
    position: relative;
    margin-top: 20px;
    padding:10px 35px;
    border-radius: 25px;
    border:none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
    color: #333;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.15s);

}




