body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #250e74;
    font-size: 24px;
    letter-spacing: 2px;
    border: 4px solid #250e74;
    height: 80px;
    width: 250px;
    text-align: center;
    line-height: 80px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;

}

a:hover {
    color: white;

}

a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    border-top: 40px solid #250e74;
    border-bottom: 40px solid #250e74;
    border-right: 40px solid transparent;

    transform: translateX(-100%);
    transition: all 0.5s;
    z-index: -1;
}

a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    border-top: 40px solid #250e74;
    border-bottom: 40px solid #250e74;
    border-left: 40px solid transparent;

    transform: translateX(100%);
    transition: all 0.5s;
    z-index: -1;
}

a:hover::after {
    transform: translateX(0);
}

a:hover::before {
    transform: translateX(0);
}