.container {
    width: 960px;
}

.btn {
    margin: 2em;
    height: 50px;
    width: 150px;
    font-size: 20px;
    padding: 10px 15px;
    background-color: red;
    color: #fff;
    line-height: 50px;
    border-radius: .5em;
    text-align: center;
    transition-property: translate();
    transition-duration: 3s;

}

.btn:hover {
    transform: translate(900px, 0);
}

#linear {
    transition-timing-function: linear;
}

#ease-in {
    transition-timing-function: ease-in;
}

#ease-out {
    transition-timing-function: ease-out;
}

#ease-in-out {
    transition-timing-function: ease-in-out;
}