body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
}

a {
    text-decoration: none;
    color: white;
    padding: 40px 80px;
    background-color: rgb(208, 208, 69);
    font-size: 45px;
    font-family: sans-serif;
    position: relative;

}

a::before {
    content: "Button10";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2ce771;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}

a::after {
    content: "Button10";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #E13323;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s 0.25s;
}

a:hover::before {
    transform: rotateX(0deg);
}

a:hover::after {
    transform: rotateX(0deg);
}