body{
    margin: 0;
    padding: 0;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container{
    position: relative;
    width:500px;
    height:250px;
    padding: 20px 80px 20px 20px;
    background-color: #c7ecee;
    border-radius: 10px;
    transition: all 0.5s;
    clip-path: circle(7% at 93% 20%);
}

h1{
    margin-bottom: 20px;
}

p{
    font-size: 18px;
}

.container:hover{
    clip-path: circle(70%);
}
