body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background: #262626;
}

a {
    text-decoration: none;
    color: #f6b93b;
    border: 4px solid #f6b93b;
    padding: 25px 50px;
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    transition: all 0.5s;

    overflow: hidden;
}

a::before,
a::after,
span::before,
span::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 25%;
    background-color: #f6b93b;
    transition: all 0.5s;
    z-index: -1
}

a::before {
    top: 0;
    left: -25%;
}

a::after {
    top: -100%;
    left: 25%;
}

a span::before {
    top: 0%;
    right: -25%;
}

a span::after {
    top: 100%;
    right: 25%;
}

a:hover::before {
    top: 0;
    left: 0;
}

a:hover::after {
    top: 0;
    left: 25%;
}

a span:hover::before {
    top: 0;
    right: 0;
}

a span:hover::after {
    top: 0;
    right: 25;
}

a:hover {
    color: #222;
}