body{
    margin: 0;
    padding: 0;
    height:100vh;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    height:60px;
    width: 300px;
    border:7px solid #0a3d62;
    border-radius: 10px;
    position: relative;
    font-family: sans-serif;
    text-align: center;
    line-height: 60px;
    overflow: hidden;
}

span{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}

.top-half{
    color: red;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    animation : animate1 5s linear infinite reverse;
}

.bottom-half{
    color:#0a3d62;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    animation: animate1 5s linear infinite ;
}

@keyframes animate1 {
    0%{transform : translateX(-300px)}
    33.33%{transform : translateX(0px)}
    66.66%{transform : translateX(0px)}
    100%{transform : translateX(300px)}
}

